
html, body {
	height: 100%;
	margin: 0;
	background-color: #eee;
}

.main {
	min-height: 100%;
	width: 800px;
	margin: 0 auto;
}

h1, .subtitle, h2, h3 {
	display: block;
	font-family: "Adobe Garamond Pro";
	text-align: center;
	margin: 0;
}

header {
	padding: 1em;
}

h1 span {
	font-size: 48pt;
	text-transform: uppercase;
	background: no-repeat url(logo.png);
	display: inline-block;
	padding: 8px 20px 0px 20px;
}

.subtitle {
	font-style: italic;
	font-weight: normal;
	font-size: 18pt;
}

section, header {
	background-color: white;
}

section {
	margin: 1em 0;
	padding: 1em 0;
}

h2 {
	text-align: center;
	font-size: 24pt;
	background-color: white;
	margin-top: .5em;
	padding: .5em 0;

	display: flex;
	align-items: center;
}

h2 .text-slot {
	flex: 1;
}

h2 .nav-button {
	width: 64px;
}

h2 .nav-button a {
	color: black;
	text-decoration: none;
}

h3 {
	text-align: left;
	padding: 0em 1em;
	text-transform: uppercase;
	font-size: 16pt;
	font-weight: normal;
}

h3 a {
	text-decoration: none;
	color: #aaa;
	float: right;
}

p, .table-of-contents li {
	font-size: 14pt;
	line-height: 1.5em;
}

p {
	margin: 1em 0;
	padding: 0 3em;
	text-align: justify;
	text-indent: 1em;
}

.table-of-contents li {
	margin-left: 2em;
	font-weight: bold;
	list-style-type: lower-roman;
	list-style-position: outside;
}

p.warning {
	background: #ffaaaa;
	text-align: center;
	text-indent: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

.inspector-icon,
.calculator-button {
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	text-indent: 0;
	font: bold smaller monospace;
}

.inspector-icon {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.calculator-button {
	width: 30px;
	height: 25px;
	line-height: 25px;
}

.definition {
	font-style: italic;
}

.code-literal {
	font-family: monospace;
	padding: 4px;
	background-color: #eee;
}

.code-block {
	font-size: larger;
	font-family: monospace;
	padding: 2em;
	margin: 1em;
	background-color: #eee;
	white-space: pre;
}