
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

html, body {
	height: 100%;
	margin: 0;
	background-color: #eee;
}

.main {
	min-height: 100%;
	width: 800px;
	margin: 0 auto;
}

h1, .subtitle, h2, h3, .nav-bottom, .comments-link {
	display: block;
	font-family: "EB Garamond", serif;
	text-align: center;
	margin: 0;
}

header {
	padding: 1em;
}

header a {
	text-decoration: none;
	color: black;
}

h1 span {
	font-size: 48pt;
	text-transform: uppercase;
	background: no-repeat url(logo.png);
	display: inline-block;
	padding: 0px 20px;
}

.subtitle {
	font-style: italic;
	font-weight: normal;
	font-size: 18pt;
}

section, header {
	background-color: white;
}

section {
	margin: 1em 0;
	padding: 1em 0;
}

h2, .nav-bottom {
	text-align: center;
	font-size: 24pt;
	margin-top: .5em;

	display: flex;
	align-items: center;
}

.nav-bottom {
	margin-bottom: .5em;
}

.text-slot {
	flex: 1;
	background-color: white;
	height: 48pt;
	line-height: 48pt;
}

.nav-bottom .text-slot {
	font-size: 16pt;
}

.nav-button {
	background-color: white;
	width: 64px;
	height: 2em;
	z-index: 9999;
}

.nav-button a {
	background-color: white;
	color: black;
	text-decoration: none;
	display: inline-block;
	width: 64px;
	height: 2em;
	line-height: 2em;
}

.nav-button a:hover {
	background-color: #fafafa;
}

.nav-button:last-child a {
	border-left: 0.5em solid #eee;
	margin-left: -0.5em;
}

.nav-button:first-child a {
	border-right: 0.5em solid #eee;
}

h3 {
	text-align: left;
	padding: 0em 1em;
	text-transform: uppercase;
	font-size: 16pt;
	font-weight: normal;
}

h3 a {
	text-decoration: none;
	color: #aaa;
	float: right;
}

p, li, dl {
	font-size: 14pt;
	line-height: 1.5em;
	text-align: justify;
	margin: 1em 2em;
}

p {
	text-indent: 1em;
}

.table-of-contents li {
	list-style-type: lower-roman;
	font-weight: bold;
}

p.warning {
	text-indent: 0;
	padding: 1em;
	margin-left: 0;
	margin-right: 0;
	background: #ffaaaa;
}

.inspector-icon,
.calculator-button {
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	text-indent: 0;
	font: bold smaller monospace;
}

.inspector-icon {
	width: 32px;
	height: 32px;
	line-height: 32px;
}

.calculator-button {
	width: 30px;
	height: 25px;
	line-height: 25px;
}

.definition {
	font-style: italic;
}

.code-literal {
	font-family: monospace;
	padding: 4px;
	background-color: #eee;
}

.code-block {
	font-size: larger;
	font-family: monospace;
	padding: 2em;
	margin: 1em;
	background-color: #eee;
	white-space: pre;
}

.inspector-section-header {
	font: bold smaller sans-serif;
	background: #eee;
	padding: 4px;
}

pre > code {
	font-size: 12pt;
	padding: 2em 1em !important;
	margin: 2em 0;
	font-family: "Source Code Pro", "Droid Sans Mono", monospace;
}

.demo-server {
	position: relative;
	margin: 1em;
}

.demo-server .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

.comments-link {
	background-color: white;
	height: 48pt;
	line-height: 48pt;
	font-size: 16pt;
}

/* Special rules for the walkthrough in regions.html */

[data-demo=region-walls-walkthrough] li.selected {
	font-weight: bold;
}
[data-demo=region-walls-walkthrough] button {
	width: 80px;
}
[data-demo=region-walls-walkthrough] .buttons {
	text-align: center;
}

[data-demo=region-band-explorer] .time-control {
	text-align: center;
}
[data-demo=region-band-explorer] .time-button,
[data-demo=region-band-explorer] .time-slider {
	width: 200px;
	vertical-align: middle;
}
