
.demo-server {
	margin: 1em;
}

.demo-server[data-demo="test"] .demo-server-slot {
	height: 2em;
}

.demo-server[data-demo="calculatorCSD"] .demo-server-slot {
	height: 300px;
}

.demo-server[data-demo="expose"] .demo-server-slot {
	height: 300px;
}
