
.inspector-highlight {
    position: absolute;
    top: 0;
    left: 0;
}

.inspector {
    background: white;
    border: 1px dotted #aaa;
    border-top: none;

    overflow: hidden;
    height: 0px;
    transition: 0.25s height;
}

.inspector.visible {
    height: 256px;
}

.inspector .header {
    background: #eee;
    border: 1px solid #999;
    border-style: solid none;
    font: bold smaller sans-serif;
    height: 32px;
    line-height: 32px;
    padding-left: 1em;
}

.inspector .close-button,
.inspector .refresh-button,
.inspector .choose-window-button {
    width: 32px;
    height: 32px;
    background: no-repeat 50% 50%;
    float: right;
}

.inspector .close-button {
    background-image: url(close-button-up.png);
}

.inspector .close-button:hover {
    background-image: url(close-button-over.png);
}

.inspector .refresh-button {
    background-image: url(refresh-button-up.png);
}

.inspector .refresh-button:hover {
    background-image: url(refresh-button-over.png);
}

.inspector .choose-window-button {
    background-image: url(choose-window-button-up.png);
}

.inspector .choose-window-button:hover,
.inspector .choose-window-button.active {
    background-image: url(choose-window-button-over.png);
}

.inspector .pane-container {
    height: 224px;
    display: flex;
}

.inspector .pane-container > div {
    overflow: auto;
    flex: 1;
    border-right: 1px dotted #aaa;
}

.inspector .pane-container > div:last-child {
    border-right: none;
}

.inspector .window-tree .window .children {
    padding-left: 1em;
}

.inspector .window-tree .window .title {
    font-family: monospace;
    padding-left: 1em;
    border-left: 1px dotted #eee;
    cursor: default;
}

.inspector .window-tree .window .title .debug-name {
    color: #994499;
}

.inspector .window-tree .window .title .xid {
    color: #449944;
    padding-left: 1em;
    font-style: italic;
}

.inspector .window-tree .window .cursor-window-emblem {
    display: none;
}

.inspector .window-tree .window.cursor-window > .title .cursor-window-emblem {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: red;
    margin: 0 6px;
}

.inspector .window-tree .window .title:hover {
    background: #eeeeff;
}

.inspector .window-tree .window.selected > .title {
    background-color: #0088ff;
}

.inspector .window-tree .window.selected > .title * {
    color: white !important;
}

.inspector .details-header {
    font: bold smaller sans-serif;
    background: #eee;
    padding: 0.5em;
}

.inspector .window-details .no-window-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #eee;
    color: #000;
    font: bold smaller sans-serif;
}

.inspector .window-details .geometry-size,
.inspector .window-details .geometry-position {
    font: bold smaller sans-serif;
    color: #aaa;
}

.inspector .window-details .geometry-size span,
.inspector .window-details .geometry-position span {
    color: #000;
}

.inspector .window-details .geometry-box {
    position: relative;
    width: 150px;
    margin: 1.5em auto;
}

.inspector .window-details .geometry-size {
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 0.5em;
}

.inspector .window-details .geometry-size:after {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    top: -16px;
    width: 16px;
    height: 16px;

    border-right: 1px dotted #333;
    border-bottom: 1px dotted #333;
}

.inspector .window-details .geometry-position {
    position: absolute;
    left: -4px;
    top: -2px;
    transform: translate(-100%, -100%);
}

.inspector .window-details .attribute-list,
.inspector .window-details .property-list {
    margin: 1em;
}

.inspector .window-details .property,
.inspector .window-details .attribute {
    font-family: monospace;
}

.inspector .window-details .name:after {
    content: ':';
    margin-right: 1em;
}

.color-display,
.pixmap-display-thumb {
    width: 6px;
    height: 6px;
    border: 1px solid black;
    display: inline-block;
    margin: 0 6px;
}

.pixmap-display {
    border: 1px solid black;
}

.tooltip {
    font-size: 0;
    background-color: beige;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transform: translate(25px, 25px);
    text-align: center;
}

.tooltip-description {
    font: italic 12px sans-serif;
    display: block;
    text-align: center;
    color: #666;
}

.tooltip-description span {
    font-weight: bold;
    color: #333;
}