
.inspector-highlight {
	position: absolute;
	top: 0;
	left: 0;
}

.inspector {
	background: white;
	border: 1px dotted #aaa;
	border-top: none;

	height: 0px;
	transition: 0.25s height;
}

.inspector.visible {
	height: 256px;
}

.inspector .close-button {
	width: 32px;
	height: 32px;
	background: no-repeat 50% 50%;
	background-image: url(close-button-up.png);

	position: absolute;
	top: 0;
	right: 0;
}

.inspector .close-button:hover {
	background-image: url(close-button-over.png);
}

.inspector .window-tree,
.inspector .window-inspector {
	float: left;
	height: 100%;
	overflow: auto;
	width: 50%;
}

.inspector .window-tree .window .children {
	padding-left: 1em;
}

.inspector .window-tree .window .title {
	font-family: monospace;
	padding-left: 1em;
	border-left: 1px dotted #eee;
	cursor: default;
}

.inspector .window-tree .window .title .debug-name {
	color: #994499;
}

.inspector .window-tree .window .title .xid {
	color: #449944;
	padding-left: 1em;
	font-style: italic;
}

.inspector .window-tree .window .title:hover {
	background: #eeeeff;
}

.inspector .window-tree .window.selected > .title {
	background-color: #0088ff;
}

.inspector .window-tree .window.selected > .title * {
	color: white !important;
}

.inspector .window-inspector .property-listing {
	font-family: monospace;
}

.inspector .window-inspector .property-listing .name:after {
	content: ':';
	margin-right: 1em;
}
