
.inspector-highlight {
    position: absolute;
    top: 0;
    left: 0;
}

.inspector {
    background: white;
    border: 1px dotted #aaa;
    border-top: none;

    overflow: hidden;
    height: 0px;
    transition: 0.25s height;
}

.inspector.visible {
    height: 256px;
}

.inspector .header {
    background: #eee;
    border: 1px solid #999;
    border-style: solid none;
    font: bold smaller sans-serif;
    height: 32px;
    line-height: 32px;
    padding-left: 1em;
}

.inspector .inspector-tab {
    display: none;
}

.inspector .inspector-tab.visible {
    display: block;
}

.inspector .inspector-tab-button {
    display: inline-block;
    padding: 0 1em;
    margin: 0 0.25em;
    cursor: default;
    border-width: 1px;
    border-style: none solid;
    border-color: transparent;
}

.inspector .inspector-tab-button.selected {
    background: radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 50%),
                linear-gradient(to bottom, #ccc, #aaa, #ccc);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
}

.inspector .close-button,
.inspector .refresh-button,
.inspector .choose-window-button {
    width: 32px;
    height: 32px;
    background: no-repeat 50% 50%;
    float: right;
}

.inspector .close-button {
    background-image: url(close-button-up.png);
}

.inspector .close-button:hover {
    background-image: url(close-button-over.png);
}

.inspector .refresh-button {
    background-image: url(refresh-button-up.png);
}

.inspector .refresh-button:hover {
    background-image: url(refresh-button-over.png);
}

.inspector .choose-window-button {
    background-image: url(choose-window-button-up.png);
}

.inspector .choose-window-button:hover,
.inspector .choose-window-button.active {
    background-image: url(choose-window-button-over.png);
}

.inspector .inspector-tab {
    height: 224px;
}

.inspector .pane-container {
    display: -webkit-flex;
    display: flex;
    max-height: 100%;
}

.inspector .pane-container > div {
    overflow: auto;
    -webkit-flex: 1;
    flex: 1;
    border-right: 1px dotted #aaa;
    height: 224px;
}

.inspector .pane-container > div:last-child {
    border-right: none;
}

.inspector .window-tree .window .children {
    padding-left: 1em;
}

.inspector .window-tree .window .title {
    font-family: monospace;
    padding: 2px 1em;
    border-left: 1px dotted #eee;
    cursor: default;
}

.inspector .window-tree .window:not(.viewable) .title {
    opacity: 0.6;
}

.inspector .window-tree .window .title:hover {
    background: #eeeeff;
}

.inspector .window-tree .window.draw-tree-root > .title {
    background-color: #f7f899;
}

.inspector .window-tree .window.selected > .title {
    background-color: #0088ff;
}

.inspector .window-tree .window.selected > .title * {
    color: white !important;
}

.inspector .xid {
    color: #449944;
    font-style: italic;
}

.inspector .debug-name {
    color: #994499;
}

.inspector .window-tree .window .title .xid {
    padding-left: 1em;
}

.inspector .window-tree .window .cursor-window-emblem {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 0px;
}

.inspector .window-tree .window.cursor-window > .title .cursor-window-emblem {
    width: 24px;
    background: url(cursor-window-emblem.png) no-repeat 50% 50%;
}

.inspector .details-header {
    font: bold smaller sans-serif;
    background: #eee;
    padding: 0.5em;
}

.inspector .window-details .no-window-selected {
    display: none;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 224px;
    background: #eee;
    color: #000;
    font: bold smaller sans-serif;
}

.inspector .window-details .no-window-selected.visible {
    display: -webkit-flex;
    display: flex;
}

.inspector .window-details .geometry-size,
.inspector .window-details .geometry-position {
    font: bold smaller sans-serif;
    color: #aaa;
}

.inspector .window-details .geometry-size span,
.inspector .window-details .geometry-position span {
    color: #000;
}

.inspector .window-details .geometry-box {
    position: relative;
    width: 150px;
    margin: 1.5em auto;
}

.inspector .window-details .geometry-size {
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 0.5em;
}

.inspector .window-details .geometry-size:after {
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    top: -16px;
    width: 16px;
    height: 16px;

    border-right: 1px dotted #333;
    border-bottom: 1px dotted #333;
}

.inspector .window-details .geometry-position {
    position: absolute;
    left: -4px;
    top: -2px;
    transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
}

.inspector .window-details .attribute-list,
.inspector .window-details .property-list {
    margin: 1em;
}

.inspector .window-details .property,
.inspector .window-details .attribute {
    font-family: monospace;
}

.inspector .window-details .name:after {
    content: ':';
    margin-right: 1em;
}

.inspector .window-details .color-display,
.inspector .window-details .pixmap-display-thumb {
    border: 1px solid black;
    margin: 0 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
}

.inspector .pixmap-list {
    background: #eee;
    padding: 1em;
    min-height: 100%;
}

.inspector .pixmap-list .pixmap {
    display: inline-block;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 0.25em;
}

.inspector .pixmap-list .pixmap-display-thumb {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0.5em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.inspector .pixmap-list .pixmap .xid {
    display: block;
    text-align: center;
    font-family: monospace;
    font-style: normal;
    margin: 0.5em;
}

.pixmap-display {
    border: 1px solid black;
}

.tooltip {
    font-size: 0;
    background-color: beige;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transform: translate(25px, 25px);
    -webkit-transform: translate(25px, 25px);
    text-align: center;
}

.tooltip-description {
    font: italic 12px sans-serif;
    display: block;
    text-align: center;
    color: #666;
}

.tooltip-description span {
    font-weight: bold;
    color: #333;
}
