/* Contains some extraneous CSS rules for demos. Mostly the heights
 * of each demo in the article... */

.demo-server {
	margin: 1em;
}

.demo-server .demo-test {
	height: 2em;
}

.demo-server .demo-two-kittens {
	height: 300px;
}

.demo-server .demo-expose {
	height: 300px;
}

.demo-server .demo-shape {
	height: 300px;
}
