/* Contains some extraneous CSS rules for demos. Mostly the heights
 * of each demo in the article... */

.demo-server {
	margin: 1em;
}

.demo-server .demo-test {
	height: 2em;
}

.demo-server .demo-two-kittens {
	height: 200px;
}

.demo-server .demo-expose {
	height: 250px;
}

.demo-server .demo-shape {
	height: 250px;
}

.demo-server .demo-input {
	height: 200px;
}

.demo-server .demo-input-nested {
	height: 200px;
}

.demo-server .demo-input-nested-composited {
	height: 200px;
}
