/* Contains some extraneous CSS rules for demos. Mostly the heights
 * of each demo in the article... */

.demo-server {
	position: relative;
	margin: 1em;
}

.demo-server .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

.demo-server .demo-test {
	height: 2em;
}

.demo-server .demo-two-kittens {
	height: 200px;
}

.demo-server .demo-expose {
	height: 250px;
}

.demo-server .demo-shape {
	height: 250px;
}

.demo-server .demo-input {
	height: 200px;
}

.demo-server .demo-input-nested {
	height: 200px;
}

.demo-server .demo-input-nested-composited {
	height: 200px;
}

.demo-server .demo-window-pixel-map {
	height: 250px;
}

.demo-server .demo-window-pixel-map-shaped {
	height: 250px;
}

.demo-server .demo-naive-redirect {
	height: 250px;
}

.demo-server .demo-composited-kitten {
	height: 250px;
}

.demo-server .demo-gl-composite {
	height: 250px;
}

pre > code {
	font-size: 12pt;
	padding: 2em 1em !important;
	margin: 2em 0;
	font-family: "Source Code Pro", "Droid Sans Mono", monospace;
}

.demo-canvas .demo-region-basic {
	height: 160px;
}

.demo-canvas .demo-region-fork {
	height: 250px;
}

.demo-canvas .demo-region-desktop {
	height: 250px;
}

.demo-canvas .demo-region-desktop-L {
	height: 250px;
}

.demo-canvas .demo-region-incorrect-regions {
	height: 280px;
}

.demo-canvas .demo-region-correct-regions {
	height: 130px;
}

.demo-canvas .demo-region-bands {
	height: 120px;
}

.demo-canvas .demo-region-misleading-region {
	height: 130px;
}

.demo-canvas .demo-region-walls {
	height: 130px;
}

.demo-canvas .demo-region-walls-walkthrough {
	height: 180px;
}

[data-demo=region-walls-walkthrough] li.selected {
	font-weight: bold;
}
[data-demo=region-walls-walkthrough] button {
	width: 80px;
}
[data-demo=region-walls-walkthrough] .buttons {
	text-align: center;
}
